.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
  margin-left: 75px;
  
}

.card {
  background-color:#F4F6F6;
  display: flex;
  flex-direction: column;
}